asn1crypto==1.5.1
attrs==23.2.0
Babel==2.10.3
beautifulsoup4==4.12.3
cached-property==1.5.2
cbor2==5.6.2
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==41.0.7
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
docutils==0.18.1
escpos==2.0.0
et-xmlfile==1.0.1
freetype-py==2.4.0
freezegun==1.2.1
geoip2==2.9.0
gevent==25.9.1
greenlet==3.2.4
idna==3.6
isodate==0.6.1
Jinja2==3.1.2
libsass==0.22.0
lxml-html-clean==0.1.1
lxml==4.9.3
MarkupSafe==2.1.5
matplotlib==3.10.8
maxminddb==3.0.0
num2words==0.5.13
OdooRPC==0.10.1
ofxparse==0.21
openpyxl==3.1.2
pandas==3.0.0
passlib==1.7.4
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer.six==20221105
phonenumbers==8.12.57
pillow==10.2.0
platformdirs==4.2.0
polib==1.1.1
poppler-utils==0.1.0
psutil==5.9.8
psycopg2-binary==2.9.11
psycopg2==2.9.9
pudb==2025.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycairo==1.25.1
pyOpenSSL==23.2.0
pyotp==2.9.0
PyPDF2==2.12.1
pyserial==3.5
pysftp==0.2.9
python-dateutil==2.8.2
python-ldap==3.4.5
python-magic==0.4.27
python-slugify==8.0.4
python-stdnum==1.19
pytz==2024.1
pyusb==1.3.1
PyYAML==6.0.1
qrcode==7.4.2
reportlab==4.1.0
requests-file==1.5.1
requests-toolbelt==1.0.0
requests==2.32.4
rjsmin==1.2.0
rlPyCairo==0.3.0
roman==3.3
scipy==1.17.0
setuptools==68.1.2
six==1.16.0
soupsieve==2.5
sqlalchemy==1.3.24
svglib==1.5.1
typing_extensions==4.10.0
Unidecode==1.3.8
urllib3==2.0.7
vobject==0.9.6.1
watchdog==3.0.0
Werkzeug==3.1.5
wheel==0.42.0
xlrd==2.0.1
XlsxWriter==3.1.9
xlwt==1.3.0
zeep==4.2.1
zope.event==5.0
zope.interface==6.1